.wrapper {
  background: var(--white);
  color: var(--dark);
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
}
.active {
  background: var(--dark);
  color: var(--white);
}
